# Exercices Chapitre 1

## SQLite

### 1) Read all the data from bc.csv, how many rows is there ? Columns ?

In [1]:
import pandas as pd
data = pd.read_csv("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.csv")
print("Il y a", len(data.columns), "colonnes et", len(data), "lignes")
data.head()

Il y a 33 colonnes et 569 lignes

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

### 2) Insert the bc.csv in the sqlite format.

Importation depuis DBbrowser

### 3) In the same db create a new table called tomatch with two variables id_ and rdm_float.

In [2]:
import sqlite3

conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()
c.execute("""CREATE TABLE tomatch(id INT PRIMARY KEY, rdm_float FLOAT)""")
conn.commit()

### 4) In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a random float for each observation.

In [27]:
import tqdm
import random as rd

query = """INSERT INTO tomatch(id, rdm_float) VALUES (?,?)"""

list_of_insertion = []
for i in tqdm.tqdm(range(50000,10000000,1)):
    values = (i,rd.random())
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        list_of_insertion = []
conn.commit()

100%|██████████| 9950000/9950000 [01:00<00:00, 164327.25it/s]

### 5) Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

In [57]:
conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()

c.execute("""SELECT AVG(table1.radius_mean), COUNT(table1.radius_mean), MAX(table1.radius_mean), MIN(table1.radius_mean)
             FROM table1 
             INNER JOIN tomatch ON table1.id = tomatch.id""")
results = c.fetchone()
print(f"Average Value: {results[0]}")
print(f"Count Value: {results[1]}")
print(f"Max Value: {results[2]}")
print(f"Min Value: {results[3]}")

Average Value: 14.010595041322313
Count Value: 484
Max Value: 28.11
Min Value: 6.981

### 6) How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

In [66]:
conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()

c.execute("""SELECT COUNT(*) FROM table1 WHERE radius_mean > 15""")
results = c.fetchone()
print(f"Observations with radius_mean greater than 15 : {results[0]}")

c.execute("""SELECT COUNT(*) FROM table1 WHERE radius_mean > 15 AND texture_mean > 20""")
results = c.fetchone()
print(f"Observations with radius_mean greater than 15 and texture_mean greater thant 20 : {results[0]}")

Observations with radius_mean greater than 15 : 173
Observations with radius_mean greater than 15 and texture_mean greater thant 20 : 106

### 7) For each category in diagnosis do the mean of a variable and round it to get only 2 numbers after the comma. Compute the difference between the mean of both groups

In [89]:
conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()
c.execute("""SELECT diagnosis, ROUND(AVG(radius_mean),2) FROM table1 GROUP BY diagnosis""")
results = c.fetchall()
print(results[1][1]-results[0][1]

5.3100000000000005

### 8) Change the name of the column "diagnosis" to "label"

In [90]:
conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()
c.execute("""ALTER TABLE table1 RENAME COLUMN diagnosis TO label""")
conn.commit()

### 9) Add a column named "day" of type DATE.

In [91]:
conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()
c.execute("""ALTER TABLE table1 ADD COLUMN day DATE""")
conn.commit()

### 10) Change the type of the column "area_mean" to int (hint, not possible on sqlite, create a new column)

In [100]:
conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()
c.execute("""ALTER TABLE table1
             ADD COLUMN area_mean_int INTEGER""")
c.execute("""UPDATE table1
             SET area_mean_int = CAST(area_mean AS INTEGER)""")
conn.commit()

### 11) create a new table called tomatch2 exactly the same way as tomatch except you increment id_ by 10.

In [106]:
conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()
c.execute("""CREATE TABLE tomatch2(id INT PRIMARY KEY, rdm_float FLOAT)""")

query = """INSERT INTO tomatch2(id, rdm_float) VALUES (?,?)"""

list_of_insertion = []
for i in tqdm.tqdm(range(50000,10000000,10)):
    values = (i,rd.random())
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        list_of_insertion = []
conn.commit()

100%|██████████| 995000/995000 [00:06<00:00, 163264.69it/s]

### 12) Do an inner join of bc, tomatch and tomatch2 where the radius_mean is greater than 15, and the rdm_float is greater than 0.50 in tomatch AND tomatch2.

In [9]:
conn = sqlite3.connect("C:/Users/busch/OneDrive/Documents/Fac/M1/UE16-IDD/NoSQL/bc.db")
c = conn.cursor()

c.execute("""SELECT * FROM table1 
             INNER JOIN tomatch ON table1.id = tomatch.id 
             INNER JOIN tomatch2 ON tomatch.id = tomatch2.id
             where radius_mean > 15 AND tomatch.rdm_float > 0.5 AND tomatch2.rdm_float > 0.5""")

## MySQL